 .u-section-1 {
  background-image: url("static/img/1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 365px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-1 .u-form-1 {
  height: 140px;
  width: 539px;
  margin: 0 auto 60px;
}

.u-section-1 .u-input-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1374px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 26px 47px 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 30px;
  height: 30px;
  margin: -41px 10px 0 auto;
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 725px;
  min-height: 731px;
  height: auto;
  background-image: linear-gradient(white, #f2f2f2);
  margin: 42px 179px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 9px 49px 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 30px;
  height: 30px;
  margin: -36px 9px 0 auto;
  padding: 3px;
}

.u-section-2 .u-group-2 {
  width: 646px;
  min-height: 63px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 28px 28px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 2px;
  padding-left: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 50px 0 399px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 15px 37px 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 30px;
  height: 30px;
  margin: -36px 7px 0 auto;
  padding: 3px;
}

.u-section-2 .u-group-3 {
  width: 646px;
  min-height: 63px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 15px 26px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding-right: 2px;
  padding-left: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 50px 0 399px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 43px 0 auto;
}

.u-section-2 .u-icon-4 {
  width: 30px;
  height: 30px;
  margin: -33px 7px 0 auto;
  padding: 6px;
}

.u-section-2 .u-group-4 {
  width: 646px;
  min-height: 63px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 8px 28px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-right: 2px;
  padding-left: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px 50px 0 399px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -33px auto 0 15px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 25px 49px 0 auto;
}

.u-section-2 .u-icon-6 {
  width: 30px;
  height: 30px;
  margin: -30px 9px 0 auto;
  padding: 6px;
}

.u-section-2 .u-group-5 {
  width: 323px;
  min-height: 209px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 4px 183px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 301px;
  height: 173px;
  margin: 0 auto 0 9px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 14px 275px 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 3rem;
  margin: 47px 84px 0 auto;
}

.u-section-2 .u-icon-7 {
  width: 30px;
  height: 30px;
  margin: -41px 47px 0 auto;
  padding: 0;
}

.u-section-2 .u-group-6 {
  width: 725px;
  min-height: 347px;
  height: auto;
  background-image: linear-gradient(white, #f2f2f2);
  margin: 39px 179px 59px auto;
}

.u-section-2 .u-container-layout-6 {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 9px 49px 0 auto;
}

.u-section-2 .u-icon-8 {
  width: 30px;
  height: 30px;
  margin: -36px 9px 0 auto;
  padding: 3px;
}

.u-section-2 .u-group-7 {
  width: 646px;
  min-height: 63px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 28px 28px 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding-right: 2px;
  padding-left: 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 50px 0 399px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 44px 0 auto;
}

.u-section-2 .u-icon-9 {
  width: 30px;
  height: 30px;
  margin: -37px 8px 0 auto;
  padding: 6px;
}

.u-section-2 .u-group-8 {
  width: 646px;
  min-height: 63px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 25px 27px 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding-right: 2px;
  padding-left: 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px 50px 0 399px;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -33px auto 0 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1385px;
  }

  .u-section-2 .u-group-1 {
    min-height: 743px;
    margin-right: auto;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-group-2 {
    width: 724px;
    margin-right: 184px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    width: 724px;
    margin-top: 16px;
    margin-right: 184px;
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -25px;
  }

  .u-section-2 .u-group-4 {
    width: 724px;
    margin-right: 184px;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 28px;
  }

  .u-section-2 .u-group-5 {
    width: 724px;
    margin-top: 21px;
    margin-right: 184px;
    height: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 274px;
  }

  .u-section-2 .u-group-6 {
    margin-top: 42px;
    margin-right: auto;
    margin-bottom: 56px;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-2 .u-group-7 {
    width: 724px;
    margin-right: 184px;
    height: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-9 {
    margin-top: -25px;
  }

  .u-section-2 .u-group-8 {
    width: 724px;
    margin-right: 184px;
    height: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-group-2 {
    width: 720px;
    margin-right: 28px;
  }

  .u-section-2 .u-group-3 {
    width: 720px;
    margin-right: 26px;
  }

  .u-section-2 .u-group-4 {
    width: 720px;
    margin-right: 28px;
  }

  .u-section-2 .u-group-5 {
    width: 720px;
    margin-right: 183px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 269px;
  }

  .u-section-2 .u-group-6 {
    width: 720px;
  }

  .u-section-2 .u-group-7 {
    width: 720px;
    margin-right: 28px;
  }

  .u-section-2 .u-group-8 {
    width: 720px;
    margin-right: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 756px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 69px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 29px;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 47px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 48px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 27px;
  }

  .u-section-2 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 47px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 63px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 27px;
  }

  .u-section-2 .u-group-4 {
    min-height: 83px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 47px;
    margin-left: 343px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -49px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 69px;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 29px;
  }

  .u-section-2 .u-group-5 {
    width: 323px;
    margin-right: 203px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 109px;
  }

  .u-section-2 .u-group-6 {
    width: 540px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 69px;
  }

  .u-section-2 .u-icon-8 {
    margin-right: 29px;
  }

  .u-section-2 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 47px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 64px;
  }

  .u-section-2 .u-icon-9 {
    margin-right: 28px;
  }

  .u-section-2 .u-group-8 {
    min-height: 83px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-right: 18px;
    margin-left: 302px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -26px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 765px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 89px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 49px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 143px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 68px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 47px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 143px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 83px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 47px;
  }

  .u-section-2 .u-group-4 {
    min-height: 95px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 143px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -63px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
    margin-right: 89px;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 49px;
  }

  .u-section-2 .u-group-5 {
    margin-top: 29px;
    margin-right: 37px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 96px;
  }

  .u-section-2 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-group-6 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 143px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-8 {
    min-height: 118px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-13 {
    margin-right: 47px;
    margin-left: 143px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -64px;
  }
} .u-section-3 {
  background-image: url("static/img/31.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 502px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-3 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-3 .u-input-1 {
  text-transform: uppercase;
}

.u-section-3 .u-input-2 {
  text-transform: uppercase;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }
}