 .u-section-1 {
  background-image: url("images/1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 321px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 27px 185px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 140px;
  width: 539px;
  margin: 0 auto 60px;
}

.u-section-1 .u-input-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 88px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 750px;
}

.u-section-2 .u-group-1 {
  width: 724px;
  min-height: 198px;
  height: auto;
  background-image: linear-gradient(white, #f2f2f2);
  margin: -83px 171px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-right: 2px;
  padding-left: 0;
}

.u-section-2 .u-icon-1 {
  width: 37px;
  height: 37px;
  margin: 16px 7px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: -36px 52px 0 auto;
}

.u-section-2 .u-group-2 {
  width: 60px;
  min-height: 35px;
  margin: 16px 24px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 6px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 1px 5px 0;
}

.u-section-2 .u-group-3 {
  width: 60px;
  min-height: 35px;
  height: auto;
  margin: -35px 107px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 6px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 1px 5px 0;
}

.u-section-2 .u-group-4 {
  width: 60px;
  min-height: 35px;
  height: auto;
  margin: -35px 191px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 6px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 1px 5px 0;
}

.u-section-2 .u-group-5 {
  width: 60px;
  min-height: 35px;
  height: auto;
  margin: -36px 275px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 6px 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 1px 5px 0;
}

.u-section-2 .u-group-6 {
  width: 60px;
  min-height: 35px;
  height: auto;
  margin: -37px auto 0 304px;
}

.u-section-2 .u-container-layout-6 {
  padding: 6px 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 1px 5px 0;
}

.u-section-2 .u-group-7 {
  width: 724px;
  min-height: 198px;
  height: auto;
  background-image: linear-gradient(white, #f2f2f2);
  margin: 47px 171px 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding-right: 2px;
  padding-left: 0;
}

.u-section-2 .u-text-7 {
  margin: 9px 47px 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 30px;
  height: 30px;
  margin: -36px 7px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-8 {
  margin: 23px 47px 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 29px;
  height: 29px;
  margin: -37px 128px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: 8px 60px 0 auto;
}

.u-section-2 .u-group-8 {
  width: 724px;
  min-height: 324px;
  height: auto;
  background-image: linear-gradient(white, #f2f2f2);
  margin: 47px 171px 20px auto;
}

.u-section-2 .u-container-layout-8 {
  padding-right: 2px;
  padding-left: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-10 {
  margin: 9px 47px 0 auto;
}

.u-section-2 .u-icon-4 {
  width: 30px;
  height: 30px;
  margin: -36px 7px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-11 {
  margin: 23px 47px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-group-7 {
    margin-top: -83px;
    height: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 6px;
  }

  .u-section-2 .u-group-8 {
    margin-top: -83px;
    height: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-group-7 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-group-8 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-group-7 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-group-8 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-group-6 {
    margin-left: 278px;
  }

  .u-section-2 .u-group-7 {
    width: 340px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 80px;
  }

  .u-section-2 .u-group-8 {
    width: 340px;
  }
}